<div class="create-avatar-view">
  <iframe sandbox="allow-scripts allow-forms allow-same-origin allow-top-navigation" src="//face.co/embed.html" width="100%" height="500" title="Online Vector Avatars Generator for Your Site" frameborder="0" marginwidth="0" marginheight="0" scrolling="yes" id="create-avatar"></iframe>
</div>
<div class="container">
  <%= simple_form_for(@kid) do |f| %>
    <%= f.input :avatar %>
    <%= f.input :avatar_cache, as: :hidden %>
    <%= f.submit class: 'kid-button' %>
  <% end %>
</div>
