<div class="kid-dashboard-wrapper">
  <div class="kid-dashboard-container">
    <h1><%= @kid.name %>'s dashboard</h1>
    <div class="row">
      <ul>
        <% @books.each do |book| %>
        <div class="col-xs-12 col-sm-6">
          <p><%= cl_image_tag book.photo, width: 160, heigth: 140 %></p>
          <p><%= link_to book.title, kid_book_path(@kid, book) %></p>
        </div>
        <% end %>
      </ul>
    </div>
    <%= link_to "Go to E-Shop",  kid_prizes_path(@kid), class: "kid-button" %>
  </div>
</div>


