<div class="kid-dashboard-wrapper">
  <div class="kid-dashboard-container">
    <h1><%= @kid.name %>'s dashboard</h1>
    <ul>
      <% @books.each do |book| %>
        <li><%= link_to book.title, kid_book_path(@kid, book) %></li>
      <% end %>
    </ul>
  </div>
</div>

