<div class="two-sides">
  <div class="left-side">
    <div class="left-side-container">
      <h2> Parent Log in</h2>
      <h1>Welcome <%= @user.email %>!</h1>
      <%= link_to "Dashboard", kids_path, class: "kid-button" %>
    </div>
  </div>
  <div class="right-side">
    <div class="right-side-container">
      <h2>Kid Log in</h2>
      <%= simple_form_for kids_login_path do |f| %>
        <%= f.input :password %>
      <% end %>
    </div>
  </div>
</div>
