

<a href="/bib/i/?book=Saint-Exupery-Le_Petit_Prince.epub" data-bibi="embed" data-bibi-style="width: 100%; height: 100vh;">The Little Prince</a><script src="/bib/i.js"></script>

<%= link_to "Answer the QUIZ to get some ReadCoin", kid_book_quiz_path(@kid, @book) %>

