.prizes-container {
  border-radius: 5px;
}
.prize-card {
  background-color: white;
  border-radius: 5px;
  border: 1px solid $turquiz;
  box-shadow: 2px 2px 1px #C0EAF7;
  width: 22vw;
  height: 350px;
  text-align: center;
  margin-bottom: 20px;
  h3 {
    margin-top: 0px;
    color: $turquiz;
  }
  p {
    margin-bottom: 20px;
  }
}
.prize-title {
  height: 70px;
}
.eshop-top-flexbox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4vh;
}
