<div class="page-size">
  <div class="payment-card text-center">
    <h1>Congratulations! you just purchased</h1>
    <div class="amount-container">
      <div class="amount-circle">
        <div class="order-amount-font-size">
          <%= @order.amount_cents / 100 %>
        </div>
        <div class="readcoins-font-size">
          ReadCoins
        </div>
      </div>
     </div>
    <div class="back-dashbord-btn">
      <%= link_to "back to dashboard", kids_path, class: "parent-button" %>
    </div>
  </div>
</div>




