<div class="container banner-img">
  <div class="banner-content text-center">
    <h1 class="banner-title">READCOIN</h1>
    <h2 class="banner-text">First incentive driven coin for children</h2>
    <%= link_to "sign in", new_user_session_path, class:"btn btn-danger btn-lg align-self-center banner-btn" %>
  </div>
</div>

<div class="jumbotron problem-solution-background">
  <div class="container cards-align" >
      <div class="card text-center col-xs-12 col-md-4 card-left">
          <h3>Problem</h3>
          <h4>more of some text that will</h4>
          <p>nk lfemfk njfnken kjnfekj kejrjkfns lkemf ewlk l;wele ;lew;l  vlkn ejrf hjebfjfe ehrfbj kjrn erjjf jhrefb herjh jherbe hber jhberjhbfe  bwin woi ewifi uiernf irf ni fbn</p>
      </div>

      <%= image_tag 'https://images-eu.ssl-images-amazon.com/images/G/02/kindle/dp/2014/KB/feature-kids._CB325416491_.jpg', class:"p-s-image", style:"height: 300px" %>

      <div class="card  col-xs-12 col-md-4 text-center card-right">
        <h3>Solution</h3>
        <h4>more of some text that will</h4>
        <p>nk lfemfk njfnken kjnfekj kejrjkfns lkemf ewlk l;wele ;lew;l  vlkn ejrf hjebfjfe ehrfbj kjrn erjjf jhrefb herjh jherbe hber jhberjhbfe  bwin woi ewifi uiernf irf ni fbn</p>
      </div>
  </div>
</div>

<div class="container-fluid services-background", style="margin-top: 35px;">
  <h1 class="text-center" style="font-size: 48px; padding-bottom: 65px;">Services</h1>
  <div class="row text-center">
    <div class="col-xs-12 col-md-4">
        <i class="fas fa-book-reader"></i>
        <h3>service header</h3>
        <p>Lorem ipsum dolor amet drinking vinegar gentrify banjo marfa, hexagon kickstarter pabst. Listicle actually fashion axe chambray, aesthetic four dollar toast paleo sriracha ramps fixie raw denim kickstarter. </p>
    </div>
    <div class="col-xs-12 col-md-4">
        <i class="fas fa-adjust"></i>
        <h3>service header</h3>
        <p>Lorem ipsum dolor amet drinking vinegar gentrify banjo marfa, hexagon kickstarter pabst. Listicle actually fashion axe chambray, aesthetic four dollar toast paleo sriracha ramps fixie raw denim kickstarter. </p>
    </div>
    <div class="col-xs-12 col-md-4">
        <i class="far fa-address-book"></i>
        <h3>service header</h3>
        <p>Lorem ipsum dolor amet drinking vinegar gentrify banjo marfa, hexagon kickstarter pabst. Listicle actually fashion axe chambray, aesthetic four dollar toast paleo sriracha ramps fixie raw denim kickstarter.</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-md-4">
        <i class="fas fa-adjust"></i>
        <h3>service header</h3>
        <p>Lorem ipsum dolor amet drinking vinegar gentrify banjo marfa, hexagon kickstarter pabst. Listicle actually fashion axe chambray, aesthetic four dollar toast paleo sriracha ramps fixie raw denim kickstarter. </p>
    </div>
    <div class="col-xs-12 col-md-4">
        <i class="fas fa-shopping-cart"></i>
        <h3>service header</h3>
        <p>Lorem ipsum dolor amet drinking vinegar gentrify banjo marfa, hexagon kickstarter pabst. Listicle actually fashion axe chambray, aesthetic four dollar toast paleo sriracha ramps fixie raw denim kickstarter.</p>
    </div>
    <div class="col-xs-12 col-md-4">
       <i class="fas fa-book-open"></i>
       <h3>service header</h3>
       <p>Lorem ipsum dolor amet drinking vinegar gentrify banjo marfa, hexagon kickstarter pabst. Listicle actually fashion axe chambray, aesthetic four dollar toast paleo sriracha ramps fixie raw denim kickstarter.</p>
    </div>
  </div>
</div>














