<div class="kid-dashboard-wrapper">
  <div class="kid-dashboard-container">
    <div class="score-result">
      <% if @score == "100"%>
        <h2>Congratulations! All the answer are corrects you just won: <%= @book.reward %> RDC</h2>
        <%= link_to "E-shop", kid_prizes_path, class: "kid-button" %>
      <% else %>
        <h2>Try Again!</h2>
        <h3> You have <%= @score %>% of correct answers</h3>
        <%= link_to "Back to quiz", kid_book_quiz_path(@kid, @book), class: "kid-button" %>
      <% end %>
    </div>
  </div>
</div>
