.book-show-container {
  padding: 60px !important;
}
.book-image {
  width: 30vw;
  height: 100vh;
  padding-top: 25px;
  background-size: cover;
}
.book-details {
  width: 70vw;
}
.book-show-btn {
  margin: 20px;
  text-align: center;
}
#book-img {
  width: 30%;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  float: left;
}
.book-show-links {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

