.kid-dashboard-wrapper{
  display: flex;
  justify-content: space-around;
  background-color: #65A5FF;
}
.kid-dashboard-container{
  width: 85vw;
  height: 100vw;
  background-color: white;
  padding: 20px;
}
