.kid-dashboard-wrapper{
  display: flex;
  justify-content: space-around;
  background-color: $turquiz;
}
.kid-dashboard-container{
  width: 85vw;
  height: 100vw;
  background-color: white;
  padding: 20px;
}
.parent-dashboard-wrapper{
  display: flex;
  justify-content: space-around;
  background-color: #F25F5C;
}
.parent-dashboard-container{
  width: 85vw;
  height: 100vw;
  background-color: white;
  padding: 20px;
}
