.background-size {
  height: 100vw;

}

.kid-card {
  border: 0.8px solid $turquiz;
  border-radius: 12px;
  padding: 0;
}


.cards-display {
  display: flex;
  justify-content: space-between;

}


.nav-buttons {
  display: flex;
  justify-content: space-around;

}

.kid-params {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.btn-add-kid {
  border-radius: 50%;

}

.btn-add-kid-margin {
  margin-top: 70px;
}
.log-out-btn {
  border: none !important;
  text-decoration: underline !important;
  color: rgba(84, 198, 235, 0.8);
  padding: 5px 15px;
}

.parent-card {
  border: 0.8px solid $turquiz;
  border-radius: 12px;
  padding: 25px;
  background-color: $turquiz;
}

.add-child-button {
  color: rgba(84, 198, 235, 0.8);
  padding: 5px 15px;
  border-radius: 15px;
  border: 2px solid rgba(84, 198, 235, 0.8)
}
.add-child-button:hover {
  background-color: rgba(84, 198, 235, 1);
}

a.add-child-button:hover {
  text-decoration: none;
  color: rgba(247, 247, 255, 1);
}

.buy-btn {
  margin-top: 25px;
}

#amount {
  width: 167px;
}

.card-lower {
  background-color: $turquiz;
  padding: 10px;
  height: 60%;
  border-radius:0px 0px 11px 11px;
}

.card-upper {
  padding:15px;
  height:40%;

}
