.background-size {
  height: 100vw;

}

#amount {
  width: 167px;
}

.buy-btn {
    color: rgba(247, 247, 255, 0.8);
    background-color: rgba(84, 198, 235, 1);
    padding: 5px 15px;
    border-radius: 15px;
    border: 2px solid rgba(247, 247, 255, 0.8);
  }
.buy-btn:hover {
    background-color: rgba(247, 247, 255, 0.8);
    color: rgba(84, 198, 235, 1);
  }
a.buy-btn:hover {
    text-decoration: none;
    color: rgba(84, 198, 235, 1);
  }

.purchase-card {
  border: 0.8px solid $turquiz;
  border-radius: 12px;
  padding: 25px;
  display: flex;
  align-items: center;
  width: 55vw;

}

.fields-align {
  display: inline-flex;
  justify-content: space-between;
  width:100%;
}
.purchase-spacing {
  height: 25vh;
  display:flex;
  justify-content: space-between;
}

.balance-card {
  border: 0.8px solid $turquiz;
  border-radius: 12px;
  margin:0;
  font-size: 25px;
  display:flex;
  align-items:center;
  justify-content:center;

}

.balance-card-content {
  font-size:40px;
}

.cards-display{
  display: grid;
}
.kid-card {
  border: 0.8px solid $turquiz;
  border-radius: 12px;
  padding: 0;
  width:100%;
  margin-bottom: 40px;
  height:50vh;
  display:flex;
}
.card-left {
  width:40%;
  border-right: 1px solid $turquiz;
  margin: 0;
  display:flex;
  align-items:center;
  justify-content:center;

}

.card-right {
  width:60%;
  margin: 0;
  font-size: 24px;
}

.card-avatar {
  height:150px;
  width:150px;

}
.kid-name {
  margin-top: 30px;
}
.kid-params {
  display: flex;
  justify-content:space-around;
  height: 20vh;
  align-items: center;
  margin-top: 40px;
}
.nav-buttons {
  display: flex;
  justify-content: space-around;

}

.btn-add-kid-margin {
  margin-top: 70px;
}
.log-out-btn {
  border: none !important;
  text-decoration: underline !important;
  color: rgba(84, 198, 235, 0.8);
  padding: 5px 15px;
}

.add-child-button {
  color: rgba(84, 198, 235, 0.8);
  padding: 5px 15px;
  border-radius: 15px;
  border: 2px solid rgba(84, 198, 235, 0.8);
  margin-bottom: 30px;
}

.add-child-button:hover {
  background-color: rgba(84, 198, 235, 1);
}

a.add-child-button:hover {
  text-decoration: none;
  color: rgba(247, 247, 255, 1);
}

.btn-add-kid {
  border-radius: 50%;

}


.line-seperate {
  margin-top: 70px;
  width: 60vw;
}

.parent-button {
  color: rgba(247, 247, 255, 0.8);
  background-color: rgba(84, 198, 235, 1);
  padding: 5px 15px;
  border-radius: 15px;
  border: 2px solid rgba(247, 247, 255, 0.8);
}
.parent-button:hover {
  background-color: rgba(247, 247, 255, 0.8);
  color: rgba(84, 198, 235, 1);
}
a.parent-button:hover {
  text-decoration: none;
  color: rgba(84, 198, 235, 1);
}













