.kid-button {
  background-color: rgba(91, 183, 251, 0.8);
  color: white;
  padding: 5px 15px;
  border-radius: 15px;
}
.kid-button:hover {
   background-color: rgba(91, 183, 251, 1);
}
a.kid-button:hover {
  text-decoration: none;
  color: white;
}
