.parent-button {
  color: rgba(247, 247, 255, 0.8);
  background-color: rgba(84, 198, 235, 1);
  padding: 5px 15px;
  border-radius: 15px;
  border: 2px solid rgba(247, 247, 255, 0.8);
}
.parent-button:hover {
  background-color: rgba(247, 247, 255, 0.8);
  color: rgba(84, 198, 235, 1);
}
a.parent-button:hover {
  text-decoration: none;
  color: rgba(84, 198, 235, 1);
}
