
<h1><%= @prize.title %></h1>
<h2><%= @prize.price %> $</h2>
<% if @kid.wallet >= @prize.price %>
  <h2><%= link_to "Buy Now!", kid_prize_purchases_path(@kid, @prize), method: :post, id:"buy-now-btn" %></h2>
<% else %>
  <h2><%= link_to "Buy Now!", kid_prizes_path(@kid), data: { confirm: "Not enough ReadCoin go and read some more!"}%></h2>
<% end %>
