.two-sides {
  display: flex;
}
.right-side {
  background-color: $turquiz;
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
}
.right-side-container {
  width: 30vw;
  margin: 10vh auto;
  color: white;
}
.left-side {
  background-color: #F7F7FF;
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
}
.left-side-container {
  width: 30vw;
  margin: 10vh auto;
  color: $turquiz;
}
.login-avatar {
  margin-left: 10vw;
}
