#kid_name {
  border: none;
  box-shadow: none;
  border-bottom-style:  solid;
  border-bottom-width: 1px;
}

#kid_password {
  border: none;
  box-shadow: none;
  border-bottom-style:  solid;
  border-bottom-width: 1px;
}

#kid_age {
  border: none;
  box-shadow: none;
  border-bottom-style:  solid;
  border-bottom-width: 1px;
}
.form-control:focus {
  border-color: none;
  box-shadow: none;
}
