#kid_name {
  border: none;
  box-shadow: none;
  border-bottom-style:  solid;
  border-bottom-width: 1px;
  background-color: $light-gray;
}

#kid_password {
  border: none;
  box-shadow: none;
  border-bottom-style:  solid;
  border-bottom-width: 1px;
  background-color: $light-gray;
}

#kid_age {
  border: none;
  box-shadow: none;
  border-bottom-style:  solid;
  border-bottom-width: 1px;
  background-color: $light-gray;
}
.form-control:focus {
  border-color: none;
  box-shadow: none;
}

.interests-font {
  font-weight: bolder;
}

.interests-dropdown {
  width: 100%;
  background-color: $light-gray;
}
